@font-face {
    font-family: "Harry P";
    src: url("../fonts/harry-p.ttf") format("truetype");
}

@font-face {
    font-family: "Magic School";
    src: url("../fonts/magic-school-one.ttf") format("truetype");
}