:root {
    --cor-fundo-pagina: #e6f2f9;
    --cor-texto-principal: #d4b057;
    --cor-cabecalho-tabela: rgba(31, 39, 72, 0.32);
    --cor-borda-tabela: #8f763c;
    --cor-fundo-main: rgba(31, 39, 72, 0.3);
    --sombra-leve: rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Poppins';
}

body {
    background: url("../images/fundo-profe.png") no-repeat center center fixed;
    background-size: cover;
    color: var(--cor-texto-principal);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

main {
    background-color: var(--cor-fundo-main);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px var(--sombra-leve);
    max-width: 1100px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

p {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px var(--sombra-leve);
    background-color: rgba(31, 39, 72, 0.3);
    table-layout: fixed;
}

th, td {
    border: 1px solid var(--cor-borda-tabela);
    padding: 12px 15px;
    text-align: left;
    word-wrap: break-word;
}

th {
    font-family: "Harry P";
    background-color: var(--cor-cabecalho-tabela);
    color: #8f763c;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #3a426c;
}

td strong {
    color: #ffc649;
}

table th:nth-child(1),
table td:nth-child(1) {
    width: 18%;
}
table th:nth-child(2),
table td:nth-child(2) {
    width: 12%;
}
table th:nth-child(3),
table td:nth-child(3) {
    width: 12%;
}
table th:nth-child(4),
table td:nth-child(4) {
    width: 38%;
}
table th:nth-child(5),
table td:nth-child(5) {
    width: 20%;
    text-align: center;
}

table td:nth-child(5) .modal {
    display: inline-block;
    width: auto;
    margin: 0 5px;
}

table td .abre-modal {
    width: auto;
    padding: 8px 12px;
    font-size: 0.9em;
    display: inline-block;
    margin: 5px 2px;
}